<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
              <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a routerLink="/" class="navbar-brand">
                <img src="../../assets/images/MMF.png" width="60px" height="60px" class="src">
            </a>
          </div>
          <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
        <!-- <div class="navbar-header">
            <a href="#" class="navbhar-brand">Recipe Book</a>
        </div> -->
        <!-- <div class="collapse navbar-collapse"> -->
        <!-- <div class="navbar-default"> -->
            <ul class="nav navbar-nav">
                <li><a id="title" (click)="onSelect('recipe')">Mario Muciño Dev</a></li>
                <!-- <li><a href="#" class="bi bi-facebook"></a></li> -->
                <!-- <li><a href="#" (click)="onSelect('recipe')">Something 1</a></li> -->
                <!-- <li><a href="#" (click)="onSelect('shopping-list')">Something 2</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <!-- Github -->
                    <a href="https://github.com/mariomf" class="bi bi-github" style="color: black;"></a>
                </li>
                <li>
                    <!-- Google -->
                    <!-- <span href="mailto:mario.mucino.flores@gmail.com" class="bi bi-google" style="color: #dd4b39;"> </span> -->
                    <a href="mailto:mario.mucino.flores@gmail.com" class="bi bi-google" style="color: #dd4b39;"></a>
                </li>
                <li>
                    <!-- Instagram -->
                    <a href="https://www.instagram.com/mmf.dev/" class="bi bi-instagram fa-2x" style="color: #ac2bac;"></a>
                </li>

                <li>
                    <!-- Linkedin -->
                    <a href="https://www.linkedin.com/in/mario-mucino/" class="bi bi-linkedin fa-2x" style="color: #0082ca;"></a>
                </li>
            
            </ul>
            <!-- <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Save Data</a></li>
                        <li><a href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul> -->
        </div>
    </div>
</nav>