<!-- <Container fluid='true'> -->
    <div class="row">
        <div class="col-6">
            <div class="col-6">
                <img src="../../assets/images/MMF.png">
            </div>
            <div class="col-6">
                <img src="../../assets/images/MMF.png">
            </div>
            <!-- <Figure class='margin-logo'>
                <Figure.Image
                    width={500}
                    height={100}
                    src={logoImg}
                />
                <Figure.Caption>
                    Nulla vitae elit libero, a pharetra augue mollis interdum.
                </Figure.Caption> 
            </Figure> -->
            <div class='margin-logo-btn'>
                <Button size="lg" 
                        id="button_EventNow" data-toggle="modal" 
                        className='btnText'
                        type="button">Something</Button>
            </div>
        </div>
        <div class="col-6">
            <img src="../../assets/images/MMF.png"
                fluid='true'
                >
        </div>
    </div>
<!-- </Container> -->