<div class="card">
    <!--<p-carousel [value]="products" [numVisible]="1" [numScroll]="1">
        <ng-template let-product pTemplate="item">
            <div class="product-item">
                <div class="product-item-content">
                    <div class="mb-3">
                        <img src="{{products}}" [alt]="product.name" class="product-image" />
                    </div>-->
                    <!--<div>
                        [responsiveOptions]="responsiveOptions"
                        <h4 class="mb-1">{{ product.name }}</h4>
                        <h6 class="mt-0 mb-3">{{ '$' + product.price }}</h6>
                        <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)"></p-tag>
                        <div class="mt-5 flex align-items-center justify-content-center gap-2">
                        <p-button icon="pi pi-search" [rounded]="true" />
                        <p-button icon="pi pi-star-fill" [rounded]="true" severity="secondary" />
                    </div>
                    </div>-->
                <!--</div>
            </div>
        </ng-template>
    </p-carousel>-->
    <h1><b>Hi , I'm Mario Muciño </b><img src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif" width="35"></h1>
</div>
<div class="row">
    <p-card class="col-md-6 specialFontFooter2" [style]="{ width: '760px' }"> <!--subheader="Card Subheader"-->
        <ng-template pTemplate="header">
            <img alt="Card" src="./../../assets/images/26772609.jpg" 
            style="width: 300px; height: 300px; border-radius: 50%; object-fit: cover;"/>
        </ng-template>
        <!--<ng-template pTemplate="footer">
            <p-button label="Save" icon="pi pi-check"></p-button>
            <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
        </ng-template>-->
    </p-card>
    <p class="col-md-6 specialFontFooter">
        <b>Profile</b>
        <br>
        <br>
        Engineer with over 4 years of experience in IT, within international projects. I have developed and maintained web applications. I have extensive knowledge in technologies such as Java and SpringBoot, ETL development, microservices architecture, and cloud services. Additionally, I have experience in using MQ for the implementation of efficient messaging systems. I'm looking to get into the web3 space where I have learned with courses and personal projects and would like to go to the next level.
        <br>
        <br>
        My professional strengths include skills such as patience and analytical ability, which allow me to tackle technical challenges with a problem-solving mindset. I am responsible and organized, ensuring the efficient delivery of projects within established deadlines. Moreover, I have a creative approach to finding innovative solutions and a strong focus on achieving results to meet set objectives.

    </p>
    <!--<p-card class="col-md-6" header="Advanced Card" subheader="Card Subheader" [style]="{ width: '560px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
        </p>
        <ng-template pTemplate="footer">
            <p-button label="Save" icon="pi pi-check"></p-button>
            <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
        </ng-template>
    </p-card>-->
    <!--<p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image" width="100%" display="flex" margin="0 auto"></p-image>-->
</div>