.specialFontFooter {
    font-family: 'MyBrandFont2', sans-serif; /* MyFont2 is primary, sans-serif is fallback */
    font-size: medium;
}

.specialFontFooter2 {
    font-family: 'MyBrandFont2', sans-serif; /* MyFont2 is primary, sans-serif is fallback */
    font-size: large;
}  

.p-image{
    border-radius: 50%;
}